body {
  background: #fafafa;
  color: #333333;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  font-size: 30px;
  font-weight: 700;
}

.description {
  font-size: 20px;
  font-weight:lighter;
}

.description-grey {
  background-color: #666666;
  font-size: 20px;
  font-weight:lighter;
}

.bg-steel {
  background-color: #5f788a;
}

.bg-purple {
  background-color: #874ef1;
  color: #dddddd;
}

.bg-yellow {
  background-color: #fff700;
  color: #000000;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 40%;
  margin: auto;
  padding: 40px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.content-center {
  text-align: center;
}

.item-right {
  float: right;
}

.sidebar-action {
  position: fixed;
  bottom: 10vh;
}

.sidbar-subtitle {
  font-size: 20px;
  font-weight: 700;
}

.sidebar-description {
  background-color: #EEE;
  padding: 15px;
  font-size: 18px;
}

.home-content {
  margin-top: 15vh;
}

.home-content-setting {
  margin-top: 25vh;
}

.helpful-part {
  position: fixed;
  bottom: 20vh;
  right: 0px;
  background-color: #EEE;
  padding: 15px;
  font-size: 18px;
}

.content-label {
  margin-bottom: 50px;
  font-size: 30px;
}

.full {
  width: 80%;
}